.add-cart{
  background-color:#256EFF;
  color:white;
  font-family:'Roboto', sans-serif;
  border-color:#256EFF;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:15%;
  margin-bottom:50px;
  margin-left: auto;
}

.add-cart:focus{
  background-color:#020887;
  cursor:pointer;
}

.add-cart:hover{
  background-color:#020887;
  cursor:pointer;
}

.add-cart:active{
  background-color:#020887;
  cursor:pointer;
}

.byo1-title{
  display:flex;
  justify-content: center;
  padding:10px;
  margin-top:32px;

}

.byo1-description{
  display:flex;
  justify-content: center;
  margin-bottom:48px;
}

.byo1-heading{
  /*margin-left:50px;*/
}

.view-details{
  font-family: 'Roboto', sans-serif;
  background-color:#ffffff;
  color:#256EFF;
  border-color:#256EFF;
  border:1px;
  border-style:solid;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;

}

.view-details:hover{
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}

.form-check-label{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight:normal;
  color:black;
}

.previous{
  margin:100px !important;
  padding:100px !important;
  font-family: Roboto, sans-serif;
  font-size:15px;
  font-weight:normal;
  color:black;
}