#main{
  margin-top: 50px;
  margin-bottom: 48px;
}

.add-cart{
  background-color:#256EFF;
  color:white;
  font-family:'Roboto', sans-serif;
  border-color:#256EFF;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:15%;
  margin-bottom:50px;
  margin-left: auto;
  transition: 0.5s;
}

.add-cart:focus{
  background-color:#020887;
  cursor:pointer;
}

.add-cart:hover{
  background-color:#020887;
  cursor:pointer;
}

.add-cart:active{
  background-color:#020887;
  cursor:pointer;
}

.byo1-title{
  display:flex;
  justify-content: center;
  padding: 0 10px 10px 10px;

}

h5.byo1-description{
  display:flex;
  justify-content: center;
  margin-bottom:48px !important;
}

.byo1-heading{
  /*margin-left:50px;*/
}

.view-details{
  font-family: 'Roboto', sans-serif;
  background-color:#ffffff;
  color:#256EFF;
  border-color:#256EFF;
  border:1px;
  border-style:solid;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;

}

.view-details:hover{
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}

.form-check-label{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight:normal;
  color:black;
}

a.previous{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight:normal;
  color:black;
  background: #f1f1f1;
  position: absolute;
  z-index: 10px;
}

h5 {
  margin: 16px 0 !important;
}