#main{
  margin-top: 50px;
  margin-bottom: 48px;
}

.add-cart{
  background-color:#256EFF;
  color:white;
  font-family:'Roboto', sans-serif;
  border-color:#256EFF;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:15%;
  margin-bottom:16px;
  margin-left: auto;
  transition: 0.5s;
}


.add-cart:focus{
  background-color:#020887;
  cursor:pointer;
}

.add-cart:hover{
  background-color:#020887;
  cursor:pointer;
}

.add-cart:active{
  background-color:#020887;
  cursor:pointer;
}
.add-wishlist{
  font-family:'Roboto', sans-serif;
  background-color:#ffffff;
  color:#256EFF;
  border-color:#256EFF;
  border:1px;
  border-style:solid;
  border-radius: 8px; 
  justify-content: center;
  display:flex;
  padding:10px;
  width:15%;
  margin-bottom:0px;
  margin-left: auto;
  transition: 0.5s;
}
.add-wishlist:hover{
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}

.view-details{
  font-family: 'Roboto', sans-serif;
  background-color:#ffffff;
  color:#256EFF;
  border-color:#256EFF;
  border:1px;
  border-style:solid;
  border-radius: 8px; 
  text-align: center;
  width: 107.05px;
  padding: 10px 30px;
  transition: 0.5s; 
}


.view-details:hover{
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}

.byo1-title{
  display:flex;
  justify-content: center;
  padding:10px;
  margin-top:50px;
}

a.previous{
  background-color: #f1f1f1;
  color: black;
  margin-left: 20px !important;
  padding: 8px 16px;
  position: absolute;
  z-index: 10px;
}
