.shipping-checkbox {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}

.shipping-checkbox-label {
    margin-top: 15px;
    margin-left: 10px;
}

.btn-primary{
    background-color:#256EFF;
      color:white;
      font-family:roboto, sans-serif;
      border-color:#256EFF;
      border-radius: 8px;
      justify-content: center;
      display:flex;
      padding:10px;
      width:100%;
      margin-top: 48px;
      margin-bottom: 16px;
    }
    
    .btn-primary:hover{
    background-color:#004EE8;
      cursor:pointer;
    }

    .btn-outline-primary{
        background-color:#ffffff;
        color:#256EFF;
        font-family:roboto, sans-serif;
        border-color:#256EFF;
        border:1px;
        border-style:solid;
        border-radius: 8px;
        justify-content: center;
        display:flex;
        padding:10px;
        width:100%;
        margin-top:12px;
    }
    
    .btn-outline-primary:hover{
        background-color:#f8f9fa;
        cursor:pointer;
        color:#2563ff;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
      }

      h1{
        font-size:50px;
        font-weight:bold;
      }
      h2{
       
        font-size:38px;
        font-weight:medium;
      
      }
      h3{
        
        font-size:28px;
        font-weight:normal;
      
      }
      h4{
        
          font-size:21px;
          font-weight:normal;
      
        }
      h5{
        
        font-size:14px;
        font-weight:medium;
        text-transform: uppercase;
      }
      p{
      
        font-size:11px;
        font-weight:normal;
      }