.shipping-checkbox {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  padding: 10px;
}

.shipping-checkbox-label {
  margin-top: 15px;
  margin-left: 10px;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

.error {
  color: red;
}



.btn-primary{
  background-color:#256EFF;
  color:white;
  font-family:'Roboto', sans-serif;
  border-color:#256EFF;
  border-radius: 8px;
  transition: 0.5s;
}
    
.btn-primary:hover{
  background-color:#020887;
  cursor:pointer;
}

.btn-outline-primary{
  background-color:#ffffff;
  color:#256EFF;
  font-family:'Roboto', sans-serif;
  border-color:#256EFF;
  border:1px;
  border-style: solid;
  border-radius: 8px;
  transition: 0.5s;
}
    
.btn-outline-primary:hover{
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  padding-bottom: 8px;
}
