/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

a {
  color: black;
}

a:hover {
  color: #256EFF;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

path:hover {
  fill: #256EFF !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grad1 {
  height: 100%;
  width: 100%;
  background-color: #1fc8db;
  background-image: linear-gradient(140deg, #020887 0%, #5f45bf 50%, #2932d9 75%);
  color: white;
  opacity: 0.95;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #256EFF;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #004EE8;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 140px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    height: 70px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  width: 100%;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu .nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #151515;
  padding: 8px 35px;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.top-nav-menu a {
  display: block;
  position: relative;
  color: #151515;
  padding: 8px 15px !important;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.checkout {
  margin-right: 20px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #256EFF;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #151515;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #256EFF;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}


/* Mobile Navigation */
.my-mobile-nav {
  display: inline-block;
  position: relative;
  color: #151515;
  padding-top: 15px 15px !important;
  margin-left: 15px;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #256EFF;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #151515;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #256EFF;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../dell_images/header.png");
  background-size: cover;
  position: relative;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero .hero-logo {
  margin-bottom: 30px;
}

#hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 8px;
  transition: 0.5s;
  margin: 12px 10px;
  background-color:#256EFF;
  color:white;
}

#hero .btn-get-started:hover {
  background-color:#020887;
  cursor:pointer;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    line-height: 22px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #151515;
}

.section-title p {
  margin-bottom: 0;
  color: #aeaeae;
}

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.content {
  padding: 50px;
}
.sectionHeading {
  color: black;
  text-align: left;
}
.products {
  padding: 0px 30px 30px 30px;
}
.card-img-2 {
  position: absolute;
  background: url("../dell_images/Keyboard-3.jpg");
  height: 100px;
}
.img-center {
  padding: 24px;
}
.cardContainer {
  text-align: center;
}
.card {
  margin-top: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hover_card:hover{
  transform: scale(1.05);
  transition-duration: .4s;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.byo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px 0 24px !important;
}
/*BYO Card button*/
#byo-card-id .btn-get-started {
  background-color:#ffffff;
  color:#256EFF;
  font-family: 'Roboto', sans-serif;
  border-color:#256EFF;
  border:1px;
  border-style:solid;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:50%;
  margin-top:5px;
}
#byo-card-id .btn-get-started:hover {
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}
/* Featured Card Button*/
#featured-card-id .btn-get-started {
  font-family: 'Roboto', sans-serif;
  background-color:#256EFF;
  color:white;
  border-color:#256EFF;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
}

#featured-card-id .btn-get-started:hover {
  background-color:#020887;
  cursor:pointer;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-title {
  color: white !important;
  text-align: left !important;
}
.footer-title:hover {
  text-decoration: underline !important;
}

#footer {
  background-color: #020887;
  /*background: url("../img/footer-bg.jpg") center center no-repeat;*/
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top h5 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  text-transform: uppercase;
  color: white !important;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8) !important;
  transition: 0.3s !important;
  display: inline-block !important;
  line-height: 1 !important;
  padding: 0 0 0 0 !important;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline !important;
  color: #fff !important;
}


/*--------------------------------------------------------------
# preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
	width: 100%;
	height: 100vh;
	background: #21242d url("../dell_images/gif/dellgaminglogoglow.gif") no-repeat center;
	z-index: 999;
}
