#main{
  margin-top: 50px;
  margin-bottom: 48px;
}

.list-group{
  background-color: lightgrey;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color:black;
}


.add-cart{
  background-color:#256EFF;
  color:white;
  font-family:roboto, sans-serif;
  border-color:#256EFF;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:50%;
  margin-top: 12px;


}

.add-cart:hover{
  background-color:#020887;
  cursor:pointer;
}

.view-details{
  background-color:#ffffff;
  color:#256EFF;
  font-family:roboto, sans-serif;
  border-color:#256EFF;
  border:1px;
  border-style:solid;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:50%;
  margin-top:12px;
}

.view-details:hover{
  background-color:#020887;
  border-color:#020887;
  color: white;
  cursor:pointer;
}

.pagination{
  margin:50px;
}