#main{
  margin-top: 100px;
  margin-bottom: 100px;
}
p{
  text-align: center;
}

#step{
  text-align: center;
  padding-left: 40%;
}

h2{
  text-align: center;
}

.h4.mb-4{
  text-align: center;
  border: none;
}

.signUp{
  margin-left: 250px;
}

.logIn{
  padding-left: 50px;
}

.btn-primary{
  background-color:#256EFF;
  color:white;
  font-family:roboto, sans-serif;
  border-color:#256EFF;
  border-radius: 8px;
  justify-content: center;
  display:flex;
  padding:10px;
  width:50%;
  margin-top: 12px;
}

.btn-primary:hover{
  background-color:#004EE8;
  cursor:pointer;
}